body {
    margin: 0;
    padding: 0;
    background-repeat: no-repeat;
    background-color: #686666;
    font-family:Arial, Helvetica, sans-serif;
}

h2, h3 {
    font-weight:bold;
}

main {
    background-image: url(imgs/fondo.jpg);
    background-size:1500px;
    display: flex;
    flex-wrap: nowrap;
}
#menu {
    width: 33vw;
    position: fixed;
    top: 0;
    right: 0;
    z-index: 2;
}

#menu li {
    text-transform: uppercase;
    display: inline-block;
    margin: 20px;
    color: white;
}

section {
    height:600px;
    width: 800px;
}

#texto {
padding: 100px;
}

h2 {
    margin-top:30px;
    margin-bottom: 30px;
}

p {
    margin-bottom: 12px;
    font-size: 12px;
}

a {
    text-decoration: none;
}

button {
    background-color: rgb(45, 145, 175);
    color: white;
    padding: 10px;
    border-radius: 10px;

}
#info {
    padding-left: 10vw;
    margin-right: 10vw;
    position: relative;
}

#cosmos{
    position: absolute;
    bottom: 0;
}

#logo {
    width: 40px;
}

#info img {
    height: 1.5em;
    width: auto;
}

h3 {
    font-size: 16px;
}


#barra {
    margin-left: 10px;
    margin-right: 10px;
    background-color: #111111;
    color: white;
    padding: 10px;
    font-size:small;
}

#barra span {
    color: rgb(255, 230, 0);
}