body {
    margin: 0;
    background-image: url(imgs/fondo.jpg);
    background-size: auto;
   }
    
    img {
    width: 33%;
    height: auto;
    float: left;
    filter: saturate(0);
}

a:hover img {
    filter: saturate(1);
}
h1 {
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-weight: bolder;
    color:whitesmoke;

}

h2 {
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-weight: lighter;
    color: whitesmoke;
}



